p {
    color: rgb(38, 0, 255);
}

.red {
    color: red;
}

a {
    display: block;
    width: 250px;
    height: 40px;
    color: white;
    background-color: gray;
    text-decoration: none;
    line-height: 40px;
}

a:link {
    color: white;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: white;
    background-color: orange;
}

a:active {
    color: blue;
}